<div class=" flex w-full h-auto items-start justify-center pb-20 bg-white">
  <div class="w-full h-20 fixed flex p-6 ">
      <div class="w-full h-16 flex bg-white ">
          <div class="flex w-3/5 items-center justify-stretch">
                  <img class="w-12 h-12 flex-none rounded-full" src="../../../assets/images/Foto de perfil Wihom 500.png" alt="">
              <div class="w-2/3 h-12 flex flex-col justify-center pl-2">
                  <p class="text-xs font-bold align-text-bottom">Cristobal Sosa</p>
                  <p class="text-xs font-thin text-slate-500 font-Mon align-text-top">@CristoSosa</p>
              </div>
          </div>
          <div class="w-2/5 flex items-center justify-end space-x-2">
              <div class="h-7 w-7 bg-slate-100  flex items-center justify-center rounded-full">
                  <svg class="h-6 w-6  text-black"  width="24" height="24" viewBox="0 0 24 24" 
                  stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" 
                  stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  
                  <circle cx="5" cy="12" r="1" />  
                  <circle cx="12" cy="12" r="1" />  <circle cx="19" cy="12" r="1" /></svg>
              </div>
              <div class="h-7 w-7 bg-slate-100  flex items-center justify-center rounded-full">
                  <svg class="h-6 w-6 text-black"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <path d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />  <circle cx="12" cy="12" r="3" /></svg>
              </div>
          </div>
      </div>
  </div>
</div>