<section class="flex flex-col p-6 h-auto">
  <div class="flex h-44 w-full justify-center items-center space-x-3 pb-6">
    <div class="flex h-36 w-28 justify-center bg-cover bg-center bg-[url('https://integro-app-public.s3.amazonaws.com/images/Foto+de+perfil+Wihom+500.png')] rounded-lg border-0 shadow-md">
        <div class="h-7 w-7 bg-black outline-dashed outline-indigo-500 outline-offset-2 rounded-full flex relative top-32 items-center justify-center shadow-sm">
            <svg class="h-6 w-6 text-white"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <line x1="12" y1="5" x2="12" y2="19" />  <line x1="5" y1="12" x2="19" y2="12" /></svg>
        </div>
    </div>
    <div class="flex h-36 w-28 justify-center bg-cover bg-center bg-[url('https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2023/07/will-smith-2023-3095986.jpg?tf=3840x')] rounded-lg border-0 shadow-md">
        <div class="h-7 w-7 bg-whitegit remote add origin git@github.com:Cristobal1002/argan-front.git rounded-full flex relative top-32 items-center justify-center shadow-sm">
            <img class="h-6 w-6 rounded-full" src="https://i.pinimg.com/originals/d8/3d/29/d83d292fa90265974c9c730fbc59e31d.jpg" alt="">
        </div>
    </div>
    <div class="flex h-36 w-28 justify-center bg-cover bg-center bg-[url('https://imgv2-2-f.scribdassets.com/img/word_document/338692418/original/a03c7ca227/1690702077?v=1')] rounded-lg border-0 shadow-md">
        <div class="h-7 w-7 bg-white rounded-full flex relative top-32 items-center justify-center shadow-sm">
            <img class="h-6 w-6 rounded-full" src="https://i1.sndcdn.com/artworks-pv705FUmOh4TZTa6-UPdSkg-t3000x3000.jpg" alt="">
        </div>
    </div>
</div>
</section>